@font-face {
  font-family: "swiss";
  src: url("./fonts/suisseintl-medium-webfont.woff2") format("woff2"),
    url("./fonts/suisseintl-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  background: black;
}

.brand {
  /* width: 50vw;
  display: flex;
  justify-content: center;
  align-self: center; */
  position: fixed;
  width: 12vw;
  left: 2vw;
  top: 2vw;
  filter: drop-shadow(5px 5px 5px black);
  z-index: 3;
}

.screen {
  /* filter: invert(100%); */
  z-index: 2;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

img {
  width: 30em;
  stroke: 10px solid black;
}

#follow {
  height: 500px;
  position: fixed;
  transform: translate(-480px, -330px);
  z-index: 2;
}
.stamp {
  position: fixed;
  transform: translate(-480px, -330px);
  height: 500px;
  /* filter: drop-shadow(5px 5px 5px black); */
  /* -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);

  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black); */
}
#follow img {
  filter: drop-shadow(5px 5px 5px black);
}
.shadow {
  filter: brightness(0%);
}
.floor {
  position: fixed;
  height: 120vh;
  width: 120vw;
  left: -10.25vw;
  bottom: -4vh;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  pointer-events: none;
}
#listbody {
  top: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
}
.row {
  display: flex;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  width: 100%;
  /* border-collapse: collapse; */
  margin: 0;
  align-items: center;
  flex-wrap: nowrap;
}
.a {
  min-width: 8%;
  padding-left: 3vw;
  font-size: 2em;
}
.b {
  min-width: 40%;
  max-width: 30%;
  width: auto;
  font-size: 3.5em;
  flex-wrap: nowrap;
}
.image {
  width: 100px;
  align-self: center;
  align-items: baseline;
  position: relative;
}
.d {
  width: 100%;
  font-size: 1.5em;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  flex-wrap: nowrap;
}
.e {
  min-width: 5%;
  font-size: 1.5em;
  position: relative;
  justify-content: center;
  flex-wrap: nowrap;
}
.subrow {
  font-size: 1em;
  min-width: 35%;
  max-width: 60%;
  flex-wrap: nowrap;
  position: relative;
  padding-right: 50%;
}
