@font-face {
  font-family: "Garamond";
  src: url("Apple Garamond/AppleGaramond.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond Light";
  src: url("Apple Garamond/AppleGaramond-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond Light Italic";
  src: url("Apple Garamond/AppleGaramond-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  background: black;
  /* scroll-behavior: smooth; */
}

.brand {
  /* width: 50vw;
  display: flex;
  justify-content: center;
  align-self: center; */
  position: fixed;
  width: 12vw;
  left: 2vw;
  top: 2vw;
  filter: drop-shadow(5px 5px 5px black);
  z-index: 3;
}

.screen {
  /* filter: invert(100%); */
  z-index: 2;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

img {
  width: 30em;
  stroke: 10px solid black;
}

#follow {
  height: 500px;
  position: fixed;
  transform: translate(-480px, -330px);
  z-index: 2;
}
.stamp {
  position: fixed;
  transform: translate(-480px, -330px);
  height: 500px;
  /* filter: drop-shadow(5px 5px 5px black); */
  /* -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black);

  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black) drop-shadow(-1px -1px 0 black); */
}
#follow img {
  filter: drop-shadow(5px 5px 5px black);
}
.shadow {
  filter: brightness(0%);
}
.floor {
  position: fixed;
  height: 128vh;
  width: 125vw;
  left: -10.25vw;
  bottom: -4vh;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  pointer-events: none;
}
#listbody {
  top: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
}
.row {
  display: flex;
  color: white;

  font-size: larger;
  width: 100%;
  /* border-collapse: collapse; */
  margin: 0;
  align-items: center;
  flex-wrap: nowrap;
}
.a {
  min-width: 5%;
  padding-left: 3vw;
  font-size: 1.25em;
}
.b {
  min-width: 50%;
  max-width: 60%;
  font-size: 3.5em;
  flex-wrap: nowrap;
  font-family: "Garamond", Times, serif;
}
.image {
  width: 100px;
  position: relative;
}
.d {
  width: 100%;
  font-size: 1.5em;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  flex-wrap: nowrap;
  font-family: "Garamond Light Italic";
  padding-right: 5vw;
}
.e {
  min-width: 5%;
  font-size: 1.5em;
  position: relative;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: "Garamond Light Italic";
}
.subrow {
  font-size: 1em;
  min-width: 35%;
  max-width: 60%;
  position: relative;
  padding-right: 50%;
}
.clear {
  z-index: 1;
  color: white;
  font-family: "Garamond Light";
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0.5vh;
  width: auto;
  font-size: 3em;
  right: 4vw;
  z-index: 100;
}
.clear::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.clear:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.index {
  z-index: 1;
  color: white;
  font-family: "Garamond Light";
  position: fixed;
  display: flex;
  top: 0.5vh;
  right: 15vw;
  justify-content: flex-end;
  width: auto;
  font-size: 3em;
  z-index: 5;
}
.index::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.index:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
